<div class="authform">
<fieldset>
<h1>Application Configurator</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>

<tbody>
    <tr>
      <td><%= link_to 'Manage Users', users_path, :class => "btn btn-lg btn-block btn-primary" %></td>
      <td><%= link_to 'Manage Categories', categories_path, :class => "btn btn-lg btn-block btn-primary" %></td>
    </tr>
    <tr>
      <td><%= link_to 'Manage Products', products_path, :class => "btn btn-lg btn-block btn-primary" %></td>
      <td><%= link_to 'Manage Groups', categories_path, :class => "btn btn-lg btn-block btn-primary" %></td>
    </tr>
  </tbody>
</table>
</fieldset>
</div>
