<td><%= link_to user.email, user %></td>
<td><%= user.first_name %></td>
<td><%= user.last_name %></td>
<td>
  <% if user.employee %>
    Employee
  <% else %>
    Customer
  <% end %>
</td>
<td><%= link_to 'Edit', edit_user_path(user) %></td>
