<div class="span8 welcome-image">


  <div id="myCarousel"
  class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <a href="/products"><img src="soap.jpeg"> </a>
    </div>
    <div class="item">
      <a href="/users/sign_up"><img src="soap.jpeg"> </a>
    </div>
    <div class="item">
      <a href="/users/sign_up"><img src="soap.jpeg"> </a>
    </div>
    <div class="item">
      <a href="/users/sign_up"><img src="soap.jpeg"> </a>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
