
<div class="center jumbotron">
  <h2>The Pizza Corner</h2>
  <br>
  <p><small>
    The Pizza corner is a family owned Pizza shop located on a corner street in Baltimore Maryland.
  </small></p>
  <p><small>
    What separates The Pizza Corner from the competition is that we focus on farm fresh ingredients that we bring directly to the customer.
  </small></p>
  <p><small>
    We also offer a wide selection of pizza and homemade Italian food.
  </small></p>


  <%#= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%#= render 'carousel' %>
