<div class="checkout">
<h2 class="text-center">Checkout</h2>

<!-- Row One -->
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-xs-6 col-sm-4">
    <%= render 'user_detail'%>
  </div>

  <div class="col-xs-6 col-sm-4">
    <%= render 'total_due'%>
  </div>

</div>

<br>

<!-- Row Two -->
<%= render 'order_form' %>

<!-- Row Three -->
<br>
</div>
