<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Cameo Chemicals Order#:<%= @order.id %></h1>
  <p>
    Total: <%= @order.total %>.<br>
  </p>
  <p>Thanks for choosing Cameo Chemicals</p>
</body>
</html>
