<p>
  <strong>Name:</strong>
  <%= product.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= product.description %>
</p>
<p>
  <% if product.image_file_name.present? %>
  <%= image_tag product.image.url, :size => :med  %>
  <% end %>
</p>
<p>
  <strong>Price:</strong>
  <% if user_signed_in? %>
  <%= number_to_currency(product.get_price(product,current_user))%>
  <% else %>
  Please **Contact Us** for Price
  <% end %>
</p>
